{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@constants": "./src/constants",
          "@screens": "./src/screens",
          "@routes": "./src/routes",
          "@types": "./src/types"
        }
      }
    ]
  ]
}
